pypdf
yt-dlp
youtube-transcript-api
langchain-huggingface
langchain_chroma
jupyter
ipywidgets
langchain
langchain-community
langchain-core
langchain_huggingface
tqdm
uuid
pandas
numpy
networkx
seaborn
scipy
scikit-learn
matplotlib
python-louvain
pyvis 
pdfkit
langgraph
powerlaw 